@using TaskBoard.API.Contracts;
@using TaskBoard.API.Contracts.Task;
@model UpdateTaskRequest

<h2>Редактирование Задачи</h2>

<form asp-action="EditTask" method="post">
    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id">
        <input type="hidden" name="ProjectId" value="@Model.SprintId">
        <input type="hidden" name="Status" value="@Model.Status">
        <label for="Title">Название:</label>
        <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" required>
    </div>
    <div class="form-group">
        <label for="Description">Описание:</label>
        <textarea class="form-control" id="Description" name="Description" required>@Model.Description</textarea>
    </div>
    <div class="form-group">
        <label for="Comment">Комментарий:</label>
        <textarea class="form-control" id="Comment" name="Comment">@Model.Comment</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="@Url.Action("GetProject","Projects", new { id = Model.SprintId })" class="btn btn-secondary">Вернуться</a>
</form>